//Пользователь указывает цену одой минуты исходящего звонка с одного мобильного оператора другому, 
//а также продолжительность разговора в минутах и секундах. 
//Необходимо вычислить денежную сумму на которую был произведен звонок.

#include <iostream>
#include <clocale>
using namespace std;
void main()
{
	setlocale (LC_CTYPE,"rus");

	double S, S1, Pr;

	cout << "Цена одной минуты с мтс на лайф = ";
	cin >> S1;

	cout << "Введите время (мин.сек) ";
	cin >> Pr;

	S = Pr * S1;
	cout << "Cтоимость этого звонка = " << S << "грн" << endl;
	
	system ("pause");

}
